<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <!-- Breadcrumb -->
        <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
            <div class="my-auto mb-2">
                <h2 class="mb-1">Users</h2>

            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
                <!-- <div class="mb-2">
                    <a [routerLink]="['/users']"
                        class="btn btn-primary d-flex align-items-center"><i
                            class="ti ti-circle-plus me-2"></i>All</a>
                </div> -->

            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Project list -->
        <div class="card">
            <div class="card-header d-flex justify-content-between grediante">
                <h4 class="text-white">Action</h4>
                <button class="btn btn-large btn-warning text-black" (click)="back()"><i
                        class="fa-solid fa-circle-arrow-left"></i>
                    Back</button>
            </div>
            <div class="card-body p-2">
                <form action="">
                    <div class="row">
                        <!-- <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="payoutStatus" checked>
                            <label class="form-check-label" for="payoutStatus">Payout check status</label>
                        </div> -->
                        <div class="col-md-3">
                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="payoutStatus"
                                        checked>
                                    <label class="form-check-label" for="payoutStatus">Payout check status</label>
                                </div>
                                <!-- <label for="payoutUrl" class="form-label">Payout Url</label>
                                <input type="text" class="form-control" id="payoutUrl"
                                    placeholder="www.walletload.com/payout"> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="payinStatus"
                                        checked>
                                    <label class="form-check-label" for="payoutStatus">Payin check status</label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="userStatus"
                                        checked>
                                    <label class="form-check-label" for="payoutStatus">User status</label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="apiStatus"
                                        checked>
                                    <label class="form-check-label" for="apiStatus">API status</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">User Status</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option value="enable" selected>Active</option>
                                    <option value="disable">DeActive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 mt-4">
                            <div class="mb-3">
                                <button class="btn btn-large btn-success">Submit</button>
                            </div>
                        </div> -->


                    </div>
                </form>
            </div>
        </div>
        <!-- / Project list  -->

    </div>
</div>
<!-- /Page Wrapper -->