
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <!-- Breadcrumb -->
        <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
            <div class="my-auto mb-2">
                <h2 class="mb-1">Services</h2>

            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
                <div class="mb-2">
                    <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#add_project"
                        class="btn btn-primary d-flex align-items-center"><i class="ti ti-circle-plus me-2"></i>Add
                        Bank</a> -->
                </div>

            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Project list -->
        <div class="card">
            <div class="card-header d-flex justify-content-between grediante">
                <h4 class="text-white">Invoice</h4>
                <button class="btn btn-large btn-warning text-black" (click)="back()"><i
                        class="fa-solid fa-circle-arrow-left"></i>
                    Back</button>
            </div>
            <div class="card-body p-2">
                <form action="">
                    <h3>
                        <marquee behavior="" direction="RTL">Here you can get Chargeback Invoice</marquee>
                    </h3>
                   
                        <div class="bgRow p-3">
                            <div class="d-flex align-items-center justify-content-center main_input">
                                <div class="input_box">
                                <input type="text" class="form-control" placeholder="Enter UTR" name="" id="">
                            </div>
                            <div>
                                <button class="btn btn-primary">Submit </button>
                            </div>
                            </div>
                            <!-- <img src="assets/img/chargeback_img.jpg" alt="chargeback image" /> -->

                        </div>                  

                </form>
            </div>
        </div>
        <!-- / Project list  -->

    </div>
</div>
<!-- /Page Wrapper -->