<div class="container-fuild">
    <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
        <div class="row">
            <div class="col-lg-5">
                <div
                    class="login-background position-relative d-lg-flex align-items-center justify-content-center d-none flex-wrap vh-100">
                    <div class="bg-overlay-img">
                        <img src="https://smarthr.co.in/demo/html/template/assets/img/bg/bg-01.png" class="bg-1"
                            alt="Img">
                        <img src="https://smarthr.co.in/demo/html/template/assets/img/bg/bg-02.png" class="bg-2"
                            alt="Img">
                        <img src="https://smarthr.co.in/demo/html/template/assets/img/bg/bg-03.png" class="bg-3"
                            alt="Img">
                    </div>
                    <div class="authentication-card w-100">
                        <div class="authen-overlay-item border w-100">
                            <!-- <h1 class="text-white display-1">Empowering people <br> through seamless HR <br> management.</h1> -->
                            <div class="my-4 mx-auto authen-overlay-img">
                                <img src="https://smarthr.co.in/demo/html/template/assets/img/bg/authentication-bg-01.png"
                                    alt="Img">
                            </div>
                            <div>
                                <p class="text-white fs-20 fw-semibold text-center">Efficiently manage your workforce,
                                    streamline <br> operations effortlessly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap">
                    <div class="col-md-7 mx-auto vh-100">
                        <form [formGroup]="loginForm" class="vh-100" *ngIf="!showLogin" (ngSubmit)="sendOtp()">
                            <div class="vh-100 d-flex flex-column justify-content-between p-4 pb-0">
                                <div class=" mx-auto mb-5 text-center">
                                    <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                                </div>
                                <div class="">
                                    <div class="text-center mb-3">
                                        <h2 class="mb-2">Sign In</h2>
                                        <p class="mb-0">Please enter your details to sign in</p>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Username</label>
                                        <div class="input-group">
                                            <input type="text" value="" formControlName="username"
                                                class="form-control border-end-0"
                                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                            <span class="input-group-text border-start-0">
                                                <i class="ti ti-user"></i>
                                            </span>
                                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                                <div *ngIf="f.username.errors.required" class="text-danger">Username is
                                                    required</div>
                                                <div *ngIf="f.username.errors.pattern" class="text-danger">First
                                                    character must be
                                                    alphabets, it contains underscore and dash</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <div class="pass-group">
                                            <input type="password" formControlName="password"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                class="pass-input form-control">
                                            <span class="ti toggle-password ti-eye-off"></span>
                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required" class="text-danger">Password is
                                                    required</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 d-block text-center">
                                        <div class="pass-group d-inline-block">
                                            <!-- <button class="btn btn-sm btn-info align-items-center"
                                                (click)="sendOtp()">Send OTP</button> -->
                                             <button class="btn btn-sm btn-info align-items-center"
                                                type="submit">Send OTP</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 pb-4 text-center">
                                    <p class="mb-0 text-gray-9">Copyright &copy; 2025 - Apna Bank</p>
                                </div>
                            </div>
                        </form>
                        <form [formGroup]="otpForm" class="vh-100" *ngIf="showLogin">
                            <div class="vh-100 d-flex flex-column justify-content-between p-4 pb-0">
                                <div class=" mx-auto mb-5 text-center">
                                    <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                                </div>
                                <div class="">
                                    <div class="text-center mb-3">
                                        <h2 class="mb-2">Sign In</h2>
                                        <p class="mb-0">Please enter your OTP to sign in</p>
                                        <p *ngIf="isError" class="text-danger">invalid otp</p>
                                    </div>
                                    <div class="mb-3">
                                        <!-- <label class="form-label">OTP</label> -->
                                        <!-- <div class="pass-group">
                                            <input type="password" formControlName="otp"
                                                [ngClass]="{ 'is-invalid': otpSubmitted && s.otp.errors }"
                                                class="pass-input form-control">
                                            <span class="ti toggle-otp ti-eye-off"></span>
                                            <div *ngIf="otpSubmitted && s.otp.errors" class="invalid-feedback">
                                                <div *ngIf="s.otp.errors.required" class="text-danger">otp is
                                                    required</div>

                                            </div>
                                        </div> -->
                                        <label class="form-label">OTP</label>
                                        <div class="pass-group">
                                            <input type="password" formControlName="otp"
                                                [ngClass]="{ 'is-invalid': otpSubmitted && s.otp.errors }"
                                                class="pass-input form-control">
                                            <span class="ti toggle-password ti-eye-off"></span>
                                            <div *ngIf="otpSubmitted && s.otp.errors" class="invalid-feedback">
                                                <div *ngIf="s.otp.errors.required" class="text-danger">OTP is
                                                    required</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary w-100" (click)="login()">Sign In</button>
                                    </div>
                                </div>
                                <div class="mt-5 pb-4 text-center">
                                    <p class="mb-0 text-gray-9">Copyright &copy; 2025 - Apna Bank</p>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>