<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <!-- Breadcrumb -->
        <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
            <div class="my-auto mb-2">
                <h2 class="mb-1">Profile </h2>

            </div>

        </div>
        <!-- /Breadcrumb -->



        <div class="row">
            <div class="col-lg-5 text-center mx-auto mb-4">
                <div class="profile_wrapper p-3 shadow rounded" style="background-color: #f8f9fa; max-width: 500px;">
                    <div>
                        <img src="assets/img/profiles/avatar-12.jpg"
                            width="100" class="rounded-circle border border-2">
                    </div>

                    <div class="profile_content ms-4">
                        <ul class="list-unstyled mb-0 mt-4">
                            <li class="mb-4 d-flex justify-content-between border-bottom "><strong>Name:</strong>
                                Divakar Mishra</li>
                            <li class="mb-4 d-flex justify-content-between border-bottom"><strong>Mobile:</strong> +91
                                8795648595</li>
                            <li class="mb-4 d-flex justify-content-between border-bottom"><strong>Email:</strong>
                                mishra2324@gmail.com</li>
                            <li class="mb-4 d-flex justify-content-between border-bottom"><strong>City:</strong> Lucknow
                            </li> <!-- Updated last field to avoid repetition -->
                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </div>
   
</div>
<!-- /Page Wrapper -->